<center>
	<h1> Home Page </h1>
</center>
<page> This is home page and here you can insert dashboards, navigators, etc..,</page>
<h1> Home Page </h1>
<p> This is home page and here you can insert dashboards, navigators, etc..,</p>
